# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.dropbox
Ebooks/Aircraft Design (Cambridge Aerospace Series) - [Kundu, A. K.].pdf
Ebooks/Aircraft Design. A Conceptual Approach - [Raymer, D. P.].pdf
Ebooks/Aircraft Design. Synthesis and Analysis.pdf
Ebooks/Airplane Design (Part I-VIII) - [Roskam, J].pdf
Ebooks/Airplane Flight Dynamics and Automatic Flight Controls - [Roskam, J.].pdf
Ebooks/American Flying Boats and Amphibious Aircraft - [Johnson, E.R.].pdf
Ebooks/Jane's All the World's Aircraft 2004-2005.pdf
Ebooks/Synthesis of Subsonic Airplane Design (1976) - [Torenbeek, E.].pdf
Ebooks/Synthesis of Subsonic Airplane Design (1982) - [Torenbeek, E.].pdf
Legislation/SC-CVLA-0521-01-i01d2-CRI_C-101-Waterloads.pdf
Legislation/Proposed_CM-CS-008_Issue01_ Evacuation_Certification_Requirements_Cabin_Crew_Members_Assumed_to_be_On_Board.pdf
Legislation/CS-25 Amendment 19.pdf
Legislation/CS-23 Amendment 5.pdf
Papers/Análisis y evaluación preliminares MTorres.pdf
